.main {
  color: var(--primary-200);
  padding: 4rem;
}

.heading {
  border-bottom: 0.15rem solid var(--primary-300);
  color: var(--primar-200);
  display: inline-block;
  font-size: 3.5rem;
  margin-top: 0rem;
  max-width: 90%;
}

.tableheading,
.tablecell {
  border: 0.1px solid var(--primary-300);
}

.table {
  color: var(--accent-100);
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
  padding: 3rem 0rem;
  text-align: left;
}

.tableheading {
  color: var(--primary-300);
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.2rem 1rem 0.2rem 2rem;
  text-align: left;
}

.tablecell {
  font-weight: 600;
  padding-left: 2rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
}

.name {
  border: 0.1px solid var(--primary-300);
  border-right: 0px;
  color: var(--accent-100);
  font-weight: 600;
  padding: 1rem;
  text-decoration: underline;
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
}

.name:hover {
  color: var(--text-black);
  font-weight: 800;
  transform: translateX(3px);
}

.customLink {
  text-decoration: none;
}

.firstCol {
  border: 1px solid var(--primary-300);
}

.userBlock:hover {
  background-color: var(--primary-300);
  color: var(--bg-100);
}

.td:first-child {
  padding-top: 2rem;
}

.loading {
  color: var(--primary-300);
  font-size: 2rem;
  margin: 3rem;
}

.pagination {
  margin: 0 20rem;
  padding-left: 6rem;
}

.paginationBtn {
  border: 0;
  border-radius: 0.2rem;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  margin: 0 1rem;
  padding: 0.8rem;
}

.paginationBtn:not(:disabled):hover {
  background-color: var(--primary-300);
  color: var(--text-black);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.activePage {
  border: 1px solid var(--primary-200);
  background-color: var(--primary-200);
  border-radius: 0.3rem;
  color: var(--accent-100);
  font-size: 1.35rem;
  margin: 0 0.5rem;
  padding: 0.6rem;
  text-decoration: none;
}

.nonActivePage {
  color: var(--primary-300);
  font-size: 1.25rem;
  padding: 0.6rem;
  text-decoration: none;
}

.nonActivePage:hover {
  color: var(--accent-100);
  transition: 0.35s ease-in-out;
}

.search {
  margin-top: 3rem;
}

.searchInput {
  font-size: 1.2rem;
  margin-top: 0.8rem;
  padding: 0.8rem 0;
}

.searchInput::placeholder {
  color: var(--bg-200);
  font-weight: 400;
  letter-spacing: 0.06rem;
  padding-left: 0.1rem;
}

.searchTxt {
  color: var(--primary-300);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  margin-top: 0.5rem;
}

.search input[type="text"] {
  background: var(--primary-300);
  border: 10px solid var(--primar-200);
  border-radius: 0.2rem;
  color: var(--text-black);
  padding-left: 0.8rem;
}

.search input[type="text"]:focus {
  border: 100px solid var(--primar-200);
  outline: none;
}

.searchInput {
  letter-spacing: 0.06rem; /* default letter-spacing */
  transition: letter-spacing font-weight 0.2s; /* add a transition effect */
}

.searchInput:focus,
.searchInput:not(:placeholder-shown) {
  letter-spacing: 0.1rem; /* increase letter-spacing when the input is not empty */
  /* color: var(--text-black); */
}
